@model CoreLayer.Dtos.User.UserBiographyUpdateDto

<br />
<h3>Biyografi</h3>
<br /> 
<br />
<textarea class="form-control" rows="10" id="editor1">@Model.Biography</textarea>
<div class="row mt-2">
    <div class="col-1 offset-11"><input type="submit" onclick="BioUpdate()" class="btn btn-primary" value="Kaydet" /></div>
    </div> 

