@model IEnumerable<CoreLayer.Dtos.User.UserPhotoDto>
   
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-3" style="height:280px">
            <div class="card">
                <div class="card-header">@item.CreatedDate</div>
                <div class="card-body">
                    <img src="~/Content/images/@item.Path" height="250" width="100%"/>
                    <p class="card-text">
                        @item.Description
                    </p>
                </div>
                <div class="card-footer">
                    @Html.Raw(item.IsMain ? "<button class='btn btn-success'>Aktif</button>" : "<button class='btn btn-light'>Pasif</button>")
                </div>
            </div>
        </div>
    }</div>
