
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Nav tabs -->
<ul class="nav nav-tabs mt-3">
    <li class="nav-item">
        <a class="nav-link active" data-bs-toggle="tab" href="#home" onclick="Info()">Kişisel Bilgiler</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#menu1" onclick="getBiography()">Biyografi</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#photos" onclick="getPhotos()">Profil Fotoğraflarım</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#shareds" onclick="getShareds()">Paylaşımlar</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" href="#followComponent" onclick="getFollowers()">Takipçi/Takip(@ViewBag.FollowerCount/@ViewBag.FollowingCount)</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content" style="height:400px;max-height:max-content">
    <div class="tab-pane container active" id="home">

    </div>
    <div class="tab-pane container fade" id="menu1">...</div>
    <div class="tab-pane container fade" id="photos">...</div>
    <div class="tab-pane container fade" id="shareds">...</div>
    <div class="tab-pane container fade" id="followComponent">...</div>
</div>

<script>
    function Info() {
        $("#home").load("/User/GetInfo")
    }
    window.onload = function () {
        Info();

    }

    function InfoUpdate() {
        var dto = {
            name: $("#name").val(),
            surname: $("#surname").val(),
            username: $("#username").val(),
            email: $("#email").val(),
            phoneNumber: $("#phonenumber").val(),
        }
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('fileInput');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.status == 200 && xhr.readyState == 4) {
                var response = xhr.responseText;
                if (response == 0) {
                    swal("Hata Var!", "Güncellenemedi!", "error");
                }
                else {

                    swal("Tamamlandı!", "İşlem Başarılı!", "success");
                    Info()
            }
            }
        }
        xhr.open("Post", "/User/GetInfoUpdate?json=" + JSON.stringify(dto), true)
        xhr.send(formdata);
    }


    function getBiography() {
        $("#menu1").load("/User/GetBiography")
    }
    var bio = ""

    function bioChange() {
        console.log("aa")
        bio = document.getElementById("editor1").value
        console.log(bio)
    }

    function BioUpdate() {
        console.log($("#editor1"))
        var dto = {
            biography: $("#editor1").val()
        }
        console.log(dto)
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.status == 200 && xhr.readyState == 4) {
                if (xhr.responseText == 0) {
                    swal("Hata Var!", "Güncellenemedi!", "error");
                }
                else {
                    swal("Tamamlandı!", "İşlem Başarılı!", "success");
                }
            }
        }
        xhr.open("Post", "/User/UpdateBiography?json=" + JSON.stringify(dto), true)
        xhr.send();
    }

    function getPhotos() {
        $("#photos").load("/User/GetProfilePhotos");
    }

    function getShareds() {
        $("#shareds").load("/User/GetShareds");
    }

    function getFollowers() {
        $("#followComponent").load("/User/GetFollowers")
    }

    function AddNewShared() {
        var dto = {
            title: $("#title").val(),
            description: $("#description").val(),
            isActive: document.getElementById("isActive").checked
        }
        var formdata = new FormData(); //FormData object
        var fileInput = document.getElementById('file');
        //Iterating through each files selected in fileInput
        for (i = 0; i < fileInput.files.length; i++) {
            //Appending each file to FormData object
            formdata.append(fileInput.files[i].name, fileInput.files[i]);
        }
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.status == 200 && xhr.readyState == 4) {
                if (xhr.responseText == 0) {
                    swal("Hata Var!", "Güncellenemedi!", "error");
                }
                else {
                    swal("Tamamlandı!", "İşlem Başarılı!", "success");
                }
            }
        }
        xhr.open("Post", "/User/AddShared?json=" + JSON.stringify(dto), true)
        xhr.send(formdata);
    }


    function mainProfileImage(id) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                if (xhr.responseText == 1) {
                    var buttons = document.getElementsByClassName("btnPhoto")
                    for (var i = 0; i < buttons.length; i++) {
                        if (buttons[i].id == "btnPhoto_" + id) {
                            buttons[i].innerText = "Aktif"
                            buttons[i].className = "btn btn-success btnPhoto"
                        }
                        else {
                            buttons[i].innerText = "Pasif"
                            if (buttons[i].className == "btn btn-success btnPhoto") {
                                buttons[i].className="btn btn-light btnPhoto"
                            }
                        }
                    }
                    swal("Profil Güncellendi!", "İşlem Tamamlandı!", "success");
                }
                else {
                    swal("Hata Var!", "Güncellenemedi!", "error");
                }
            }
        }
        xhr.open("post", "/User/UpdateImage?imageId="+id, true);
        xhr.send();
    }

    function removeFollower(id) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.responseText == 1) {
                document.getElementById("followerRow_" + id).remove()
                swal("Takipçi Kaldırıldı!", "Silindi!", "success");

            }
            else {
                swal("Hata Var!", "Silinemedi!", "error");
            }
        }
        xhr.open("post", "/User/RemoveFollower?followerId="+id, true)
        xhr.send()
    }

    function removeFollowing(id) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.responseText == 1) {
                document.getElementById("followingRow_" + id).remove()
                swal("Takipten Çıkıldı!", "Silindi!", "success");

            }
            else {
                swal("Hata Var!", "Silinemedi!", "error");
            }
        }
        xhr.open("post", "/User/RemoveFollowing?followingId=" + id, true)
        xhr.send()
    }


    function sharedRemove(id) {
        var xhr = new XMLHttpRequest()
        xhr.onreadystatechange = function () {
            if (xhr.responseText == 1) {
                document.getElementById("shared_" + id).remove()
                swal("Tamamlandı!", "İşlem Başarılı!", "success");
            }
            else {
                swal("Hata Oluştu!", "Gönderi Bulunamadı!", "info");

            }
        }
        xhr.open("POST","/User/RemoveShared?id="+id,true)
        xhr.send();
    }
    function getEditForm(id) {
        $("#editSharedDiv").load("/User/GetShared?id="+id)
    }


    function UpdateShared(id) {
        var dto = {
            title: $("#title2").val(),
            description: $("#description2").val(),
            isActive: document.getElementById("isActive2").checked,
            sharedId:id
        }
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.status == 200 && xhr.readyState == 4) {
                if (xhr.responseText == 0) {
                    swal("Hata Var!", "Güncellenemedi!", "error");
                }
                else {
                    swal("Tamamlandı!", "İşlem Başarılı!", "success");
                }
            }
        }
        xhr.open("Post", "/User/UpdateShared?json=" + JSON.stringify(dto), true)
        xhr.send();
    }
</script>