
@{
    ViewBag.Title = "PasswordUpdate";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    int id = Convert.ToInt32(ViewBag.Id);
}

@using (Html.BeginForm("PasswordUpdate", "Auth", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row" style="margin-top:150px;opacity:0.8">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark" style="color:white"><h2 style="text-align:center;">Şifre Oluştur</h2></div>
                <div class="card-body">
                    @using (Html.BeginForm("PasswordUpdate", "Auth", FormMethod.Post))
                    {
                        <input type="hidden" name="userId" id="userId" value="@id"/>
                        <label for="password1">Şifre</label>
                        <input type="password" id="password1" name="newPassword" class="form-control mt-2" />
                        <label for="password2">Şifre Tekrar</label>
                        <input type="password" id="password2" name="newPassword2" class="form-control mt-2" onkeyup="controlPassword()" />
                        <input type="button" value="Kaydet" class="btn btn-dark mt-2" id="saveBtn"/>
                    }
                    <div class="alert alert-warning mt-2" id="alert" style="display:none">
                        Şifreler Uyuşmuyor!
                    </div>
                    </div>
            </div>
        </div>
    </div>

}
<script>
    function controlPassword() {
        const p1 = $("#password1").val()
        const p2 = $("#password2").val()
        var str = "";
        for (var i = 0; i < p2.length; i++)
            str += p1[i]

        if (str == p2) {
            document.getElementById("password2").style.borderColor = "green";
            if (p2.length>0)
            document.getElementById("saveBtn").type = "submit";
            $("#alert").hide();
        }
        else {
            document.getElementById("password2").style.borderColor = "red";
            document.getElementById("saveBtn").type = "button";
            $("#alert").show();
        }
    }
</script>
